node_modules
.pnp
.pnp.js
coverage
.nyc_output
.next
out
build
dist
*.log
*.pid
*.seed
*.pid.lock
.env
.env.local
.env.*.local
.turbo
.DS_Store
*.swp
*.swo
*~
.vscode/*
!.vscode/extensions.json
.idea
*.tsbuildinfo
